<section>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="card border border-primary border-2">
          <div class="card-body">
            <h5 class="card-title">Secrétaire Générale</h5>
            <p class="card-text">Hamassala David Dicko</p>
            <a href="{{ "about/david/" | relURL }}" class="btn btn-primary rounded-pill"
              >voir plus...</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-primary border-2">
          <div class="card-body">
            <h5 class="card-title">Trésorière</h5>
            <p class="card-text">Aissa Dicko</p>
            <a href="{{ "about/aissaDicko/" | relURL }}" class="btn btn-primary rounded-pill"
              >voir plus...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
