<!-- -->
<div class="gallery hovereffect">
  {{ with .Resources.ByType "image" }}
  <div class="row">
    <div class="col" style="">
      {{ range . }} {{ $img := . }} {{$alt := $img.Resize "200x200" }} {{ $img
      := $img | images.Filter (images.GaussianBlur 6) (images.Pixelate 8) }}

      <a data-fancybox="x" href="{{ $alt }}">
        <img src="{{ $alt.RelPermalink }}" class="img-fluid rounded" />
      </a>
      <!-- 
    <figure style="padding: 0.25rem; margin: 2rem 0; background-color: #cae">
      <img style="max-width: 100%; width: auto; height: auto;" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    </figure>
  -->
      {{ end }} {{ end }}
    </div>
  </div>
</div>
