<body>
  <div class="quote quote-border">
    <p class="text-start fs-3">
      Nous agissons principalement dans les villages du cercle de Douentza.
      Cette zone, au centre du pays, concentre essentiellement des Dogons, des
      Peulhs et des Sonrais, qui vivent d'élevage et d'agriculture. Ces petits
      villages et hameaux subissent l'exode des jeunes attirés par les villes de
      Mopti et de Bamako. Dans ces villages, nous avons réalisé plusieurs
      projets dont des projets de banques de céréales, de microfinances, la
      création d'un parc informatique au lycée et d'autres, et sommes en train
      d'en développer beaucoup d'autres.
    </p>
  </div>
</body>
