{{/* partials/qui-sommes-nous */}}
<qui-sommes-nous>
  <div class="">
    <p class="text-start fs-3 ">
      Leidimen est une association loi 1901 créé en mai 2004 à Bondoufle (91, Essonne)
      par un groupe de jeunes Français d'origine malienne visant à initier ou améliorer le soutien existant
      aux villages de la région de Mopti, au centre du Mali.
      Leidimen signifie « notre terre » en peul.
      <br>
      L'association compte aujourd'hui 43 membres actifs. Elle est dirigée par un Conseil d'Administration compose de
      neuf membres.
      Nous sommes toujours ravis d'accueillir parmi nous de nouvelles personnes intéressées par notre projet.
    </p>
    <hr />
</qui-sommes-nous>