{{/* partials/qui-sommes-nous */}}
<qui-sommes-nous>
  <div class="">
    <p class="text-start fs-6">
      <strong>Leidimen</strong>, qui signifie « votre terre » en peul, est une association loi 1901 créée en mai 2004 à Bondoufle (Essonne, 91) 
      par un groupe de jeunes Français d'origine malienne. Notre mission ? Créer et renforcer des liens de solidarité 
      avec les villages de la région de Mopti, au cœur du Mali.
      <br><br>
      Aujourd'hui, notre belle famille associative compte 43 membres actifs et passionnés ! 
      Nous sommes guidés par un Conseil d'Administration de neuf membres dévoués qui œuvrent chaque jour 
      pour faire avancer nos projets.
      <br><br>
      <strong>Envie de nous rejoindre ?</strong> Nous accueillons toujours avec joie les nouvelles personnes 
      qui partagent nos valeurs de solidarité et d'entraide. Ensemble, construisons des ponts entre nos deux terres ! 🤝
    </p>
    <hr />
</qui-sommes-nous>