{{- $rawContent := split .Inner "\n" -}}
{{- $content := slice -}}
{{- range $rawContent -}}
  {{- $line := trim . " \t\r\n" -}}
  {{- if ne $line "" -}}
    {{- $content = $content | append $line -}}
  {{- end -}}
{{- end -}}
{{- $initialString := .Get "initialString" | default "" -}}
{{- $speed := .Get "speed" | default 100 -}}
{{- $lifeLike := .Get "lifeLike" | default false -}}
{{- $startDelay := .Get "startDelay" | default 0 -}}
{{- $breakLines := .Get "breakLines" | default true -}}
{{- $waitUntilVisible := .Get "waitUntilVisible" | default true -}}
{{- $loop := .Get "loop" | default false -}}
{{- $classList := slice -}}
{{- with .Get "class" -}}
  {{- $classList = $classList | append . -}}
{{- end -}}
{{- $tag := .Get "tag" | default "div" -}}

{{ $id := delimit (slice "typeit" (partial "functions/uid.html" .)) "-" }}

{{- $attrs := printf `id="%v"` $id -}}
{{- with $classList -}}
  {{- $attrs = delimit $classList " " | printf `%v class="%v"` $attrs -}}
{{- end -}}

{{ printf `<%v %v>%s</%v>` $tag $attrs $initialString $tag | safeHTML }}

<!-- Load TypeIt library -->
<script src="https://cdn.jsdelivr.net/npm/typeit@8.7.1/dist/index.umd.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      {{- if eq (len $content) 1 }}
      new TypeIt("#{{ $id }}", {
        strings: "{{ index $content 0 }}",
        speed: {{ $speed }},
        lifeLike: {{ $lifeLike }},
        startDelay: {{ $startDelay }},
        breakLines: {{ $breakLines }},
        waitUntilVisible: {{ $waitUntilVisible }},
        loop: {{ $loop }}
      }).go();
      {{- else }}
      new TypeIt("#{{ $id }}", {
        strings: {{ $content | jsonify }},
        speed: {{ $speed }},
        lifeLike: {{ $lifeLike }},
        startDelay: {{ $startDelay }},
        breakLines: {{ $breakLines }},
        waitUntilVisible: {{ $waitUntilVisible }},
        loop: {{ $loop }}
      }).go();
      {{- end }}
    });
</script>
